footer {
  visibility: hidden;
}

.container {
  text-align: center; /* Center the content horizontally */
}

/* .css-1v0mbdj.etr89bj1 {
    max-width: 100%; /* Ensure the picture doesn't exceed its container */
/* border-radius: 10px; Add rounded corners to the picture */
/* } */

.intro {
  font-size: 18px;
  font-weight: normal; /* You can use "bold" for bold text */
  color: #333; /* Text color */
  padding: 10px; /* Padding around the text */
  text-align: center;
}

.stImage {
  margin: auto;
  max-width: 100%;
}

th {
  text-align: center;
}

/* Reset some default styles for better consistency */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Apply a background color to the entire page */
html {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.stSelectbox > div[data-baseweb="select"] > div {
  width: 100%;
  background-color: #f5f5f5; /* Background color of the text box */
  padding: 10px; /* Padding inside the text box */
  border: 2px solid #ccc; /* Border around the text box */
  border-radius: 5px; /* Rounded corners */
  font-size: 16px; /* Font size */
  color: #333; /* Text color */
}

.stSelectbox > label {
  font-size: 16px; /* Font size */
  color: #333; /* Text color */
  font-weight: bold; /* Font weight, e.g., bold */
  display: block; /* Display as a block element (each label on a new line) */
  margin-bottom: 5px; /* Spacing between labels */
}

.stSelectbox > label:hover {
  text-decoration: underline; /* Add underline on hover */
  color: #0070c0; /* Hover color */
}

.stTextInput > div[data-baseweb="input"] > div {
  width: 100%;
  background-color: #f5f5f5; /* Background color of the text box */
  padding: 10px; /* Padding inside the text box */
  border: 2px solid #ccc; /* Border around the text box */
  border-radius: 5px; /* Rounded corners */
  font-size: 16px; /* Font size */
  color: #333; /* Text color */
}

.stTextInput > label {
  font-size: 16px; /* Font size */
  color: #333; /* Text color */
  font-weight: bold; /* Font weight, e.g., bold */
  display: block; /* Display as a block element (each label on a new line) */
  margin-bottom: 5px; /* Spacing between labels */
}

.stButton {
  padding-top: 40px;
  padding-left: 20px;
}
.stButton > button {
  padding-top: 100%;
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: 0.75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.stButton > button:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.stButton > button:focus {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}

.neon h2 {
  margin: 1rem auto;
  animation: neon 1s ease infinite;
}
@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 10px #ef00e3a8, 0 0 20px #ef00e3a8, 0 0 20px #ef00e3a8,
      0 0 20px #ef00e3a8, 0 0 2px #fed128, 2px 2px 2px #806914;
    color: #f5efcb;
  }
  50% {
    text-shadow: 0 0 2px #800e0b, 0 0 5px #800e0b, 0 0 5px #800e0b,
      0 0 5px #800e0b, 0 0 2px #800e0b, 4px 4px 2px #40340a;
    color: #eda0d3;
  }
}

/*  */
